* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: forestgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.header h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

img {
    width: 100%;
    height: auto
}

.food_slide {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.food_slide img {
    height: 180px;
    padding: 7px;
    border-radius: 9px;
}

.about_section {
    background: linear-gradient(to right, #228b22, #2dd413);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.about_left h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.about_right p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap: break-word;
    width: 55%;
    font-weight: lighter;
    font-style: oblique;
    letter-spacing: 2px;
}

.catalogue {
    background-color: #3ce73c;
    display: flex;
}

.food_links{
    width: 20%;
    background-color: yellow;
    text-align: center;
}

.food_links h4{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    color: forestgreen;
    font-size: 20px;
}

.food_menu{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 8px;
}

.food_menu img{
    height: 180px;
    border-radius: 200px;
}

.food_links_items a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    background-color: hsl(160, 100%, 75%);
    font-style: lighter;
    margin: 5px;
    border-radius: 8px;
}

.food_links_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.food_links_items a:hover{

    background-color: yellow;
    color:forestgreen;
    border-bottom: 3px solid white;
}

input[type=text]{
    padding: 6px;
    /* text-align: right; */
    border-radius: 20px;
    border: none;
    outline: none;
    width: 20em;
}